body {
    background-color: #fcccec;
    font-family: Arial, Helvetica, sans-serif;
    color: #221f73;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.list-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.light {
    background-color: #fff;
    border: 1px solid #221f73;
}

.light:hover {
    background-color: steelblue;
    
}
.dark:hover {
    background-color: steelblue;
}

.dark {
    background-color:hotpink;
    border-left: 1px solid #221f73;
    border-right: 1px solid #221f73;
}

.dark-2 {
    border-bottom: 1px solid #221f73;
}

.right-list-item {
    text-decoration: none;
    background-color: red;
    text-align: center;
}

.right-list-item:hover {
    background-color: pink;
}

#form-box {
    background-color: papayawhip;
    padding: 40px;
    padding-top: 30px;
}

#button {
    padding: 2px;
    min-width: 120px;
    margin-top: 30px;
    background-color: hotpink;
    color: #221f73;
    border: 1px solid #221f73;
    border-radius: 4px;
}

a {
    text-decoration: none;
    padding: 1px 5px;
}

a:hover {
    text-decoration: underline;
}